* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
}

.activity {
    /* position */
    position: absolute;
    top: 0;
    left: 0;
    /* box */
    width: 100vw;
    height: 100vh;
    /* grid container layout */
    display: grid;
    grid-template-rows: 3em 1fr;
    grid-template-areas:
        "header"
        "page";
    align-items: stretch;
    /* style */
    background: white;
    /* animations */
    animation: slide-up 0.4s ease;
    transition: top 0.4s ease;
}

.activity.deleted {
    top: 100vh;
}
.activity.deleted .footer {
    display: none;
}


.header {
    /* grid item layout */
    grid-area: header;
    align-self: stretch;
    justify-self: stretch;
    /* box */
    box-shadow: 0 2px 5px 0px rgba(102, 102, 102, 0.5);
    /* style */
    font-weight: bold;
    font-size: 1.5em;
    /* row container layout */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.header * {
    margin: 0 0.5em;
}

.back {
    /* box */
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border-radius: 1em;
    margin-right: 0.2em;
    /* style */
    background: transparent;
    font-weight: bold;
    font-size: 0.8em;
}
.back:active {
    background-color: #CCC;
}
.back:focus {
    outline: none;
}

.footer {
    /* position */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* box */
    height: 0;
    padding: 0 0.5em;
    /* row container layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.action {
    /* box */
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border-radius: 1em;
    margin-top: -2.5em;
    box-shadow: 2px 2px 5px 0px rgba(102, 102, 102, 0.5);
    /* style */
    background: #00CC33;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
}
.action:active {
    background-color: #00AAAA;
}
.action:focus {
    outline: none;
}

.page {
    /* grid item layout */
    grid-area: page;
    align-self: stretch;
    justify-self: stretch;
    /* box */
    padding: 0.5em 0.5em;
    overflow-y: auto;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
