* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.activity {
    width: 100vw;
    height: 100vh;
    /* background: blue; */
    /* color: white; */
    display: grid;
    grid-template-rows: 2.5em 1fr 0;
    grid-template-areas:
        "header"
        "page"
        "footer";
    grid-row-gap: 0;
    align-items: stretch;
}

.header {
    grid-area: header;
    align-self: stretch;
    justify-self: stretch;
    /* background: #00CCCC; */
    /* color: black; */
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    box-shadow: 0 2px 5px 0px rgba(102, 102, 102, 0.5);
}
.header * {
    margin: 0 0.5em;
}

.back {
    background: transparent;
    font-weight: bold;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin-right: 0.2em;
}
.back:active {
    background-color: #CCC;
}
.back:focus {
    outline: none;
}

.footer {
    grid-area: footer;
    align-self: center;
    justify-self: end;
    /* background: #CC00CC; */
    height: 0;
    padding: 0 0.5em;
    z-index: 1000;
}

.action {
    background: #00CC33;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    font-size: 1.5em;
    line-height: 1em;
    margin-top: -2.5em;
    box-shadow: 2px 2px 5px 0px rgba(102, 102, 102, 0.5);
}
.action:active {
    background-color: #00AAAA;
}
.action:focus {
    outline: none;
}

.page {
    grid-area: page;
    align-self: stretch;
    justify-self: stretch;
    /* background: #CCCC00; */
    /* color: black; */
    flex-grow: 1;
    overflow-y: auto;
    padding: 0.5em 0.5em
}
